rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isCashbookParticipant(cashbookId) {
      let cb = get(/databases/$(database)/documents/cashbooks/$(cashbookId));
      return cb.data.ownerId == request.auth.uid || cb.data.participantId == request.auth.uid;
    }

    match /users/{userId} {
      allow read, write: if isAuthenticated() && request.auth.uid == userId;
    }

    match /cashbooks/{cashbookId} {
      allow create: if isAuthenticated();
      allow read: if isAuthenticated() && (resource.data.ownerId == request.auth.uid || resource.data.participantId == request.auth.uid || resource.data.inviteCode == request.resource.data.inviteCode);
      allow update: if isAuthenticated() && (resource.data.ownerId == request.auth.uid || resource.data.participantId == request.auth.uid || resource.data.inviteCode == request.resource.data.inviteCode);
      allow delete: if false;

      match /transactions/{transactionId} {
        allow read, write: if isAuthenticated() && isCashbookParticipant(cashbookId);
      }
    }
  }
}